<h2 class="left-10">Edit a Task List</h2>
<p class="bg-success" id="no_task">
  <% if flash[:notice] %>
    <%= flash[:notice] %><br>
  <% end %>
</p>
<%= render :partial => 'form',
           :locals => { :task_list => @task_list, :message => "Update Task List"}
%>

