<h1 class="left-10">Add a Task List</h1>

<p class="bg-success left-10" id="no_task">
  <% if flash[:notice] %>
    <%= flash[:notice] %><br>
  <% end %>
</p>

<div id="error_message"></div>

<div id="task_list_form">
  <%= render :partial => 'form',
             :locals => { :task_list => @task_list, :message => "Create Task List"}
  %>
</div>
<hr>
<button class="clear_task_form left-10">Clear Form</button>
<br>
<hr>
<button class="event left-10">Event</button>